/artifacts
/txData
/resources/\[vehicles\]
/cache
/db
/db
/db
/db
/db/default
/db
db/default/000106.log
db/default/000106.log
db/default/000106.log
db/default/000106.log
db/default/CURRENT
db/default/IDENTITY
db/default/LOG
db/default/LOG.old.1752347254707909
db/default/LOG.old.1752347365877937
db/default/IDENTITY
